sudo: false
language: java
jdk:
    - oraclejdk8
    - oraclejdk7
    - openjdk6
    - openjdk7
deploy:
    provider: script
    script: ./deploy-gh-pages.sh
    on:
        branch: master
        jdk: openjdk7
