name: Lint Java Code
on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize
      - unlabeled
jobs:
  Lint_Java:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Lint_Java
        uses: github/super-linter@v7
        env:
          VALIDATE_ALL_CODEBASE: true # lint all files
          VALIDATE_JAVA: true  # only lint Java files
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Enables better overview of runs
